@import url("//hello.myfonts.net/count/2d3c45");

  
@font-face {font-family: 'AdelleSans-SemiBoldItalic';src: url('2D3C45_0_0.eot');src: url('2D3C45_0_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_0_0.woff2') format('woff2'),url('2D3C45_0_0.woff') format('woff'),url('2D3C45_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AdelleSans-BoldItalic';src: url('2D3C45_1_0.eot');src: url('2D3C45_1_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_1_0.woff2') format('woff2'),url('2D3C45_1_0.woff') format('woff'),url('2D3C45_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AdelleSans-Bold';src: url('2D3C45_2_0.eot');src: url('2D3C45_2_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_2_0.woff2') format('woff2'),url('2D3C45_2_0.woff') format('woff'),url('2D3C45_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AdelleSans-Regular';src: url('2D3C45_3_0.eot');src: url('2D3C45_3_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_3_0.woff2') format('woff2'),url('2D3C45_3_0.woff') format('woff'),url('2D3C45_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AdelleSans-Italic';src: url('2D3C45_4_0.eot');src: url('2D3C45_4_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_4_0.woff2') format('woff2'),url('2D3C45_4_0.woff') format('woff'),url('2D3C45_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AdelleSans-SemiBold';src: url('2D3C45_5_0.eot');src: url('2D3C45_5_0.eot?#iefix') format('embedded-opentype'),url('2D3C45_5_0.woff2') format('woff2'),url('2D3C45_5_0.woff') format('woff'),url('2D3C45_5_0.ttf') format('truetype');}
 